.site-title {
    font-size: 50px;
}

.nav ul li {
    color: white;
    cursor: pointer;
}

.nav nav {
    box-shadow: none;
}

.nav ul li:hover {
    border-bottom: 2px solid white;
    background-color: initial;
}
/* 
.nav-non-link:hover {
    border-bottom: 2px solid white;
    background-color: initial;
} */

.nav .nav-non-link {
    padding: 0 15px;
}

.login-modal {
    background-color: rgb(228, 228, 228);
    width: 40%;
    max-width: 441px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; 
    margin-bottom: 30px; 
    display: none;
    padding-bottom: 30px;
    z-index: 2;
}

.close-modal {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.body-modal-show {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    /* opacity: .3; */
    background-color: black;
    z-index: 1;
    
}

.sign-up-buttons {
    width: 400px;
    margin: 7px 0;
}